<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="top-news" href="/tabs/(top-news:top-news)">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Top News</ion-label>
      <!-- <ion-router-outlet name="top-news"></ion-router-outlet> -->
    </ion-tab-button>

    <ion-tab-button tab="headlines">
      <ion-icon name="globe"></ion-icon>
      <ion-label>Headlines</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sources">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Sources</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="favourites">
      <ion-icon name="star"></ion-icon>
      <ion-label>Favourites</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>


</ion-tabs>